*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 30px;
}

.square{
    width: 100px;
    height: 100px;
}
.result{
    height: 100px;
    overflow: scroll;
}
td:hover{
    cursor: pointer;
}
.numberHover{
    opacity: 0.5;
    transition: 0.5s;
}
.numberHover:hover{
    opacity: 1;
}
.row{
    width: 400px;
}